<h1>Edit product form</h1>
<form #f="ngForm" (submit)="onSubmit()">
   
   
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" required name="title" pattern="[a-zA-Z]+"  #title="ngModel" [(ngModel)]="product.title" />
       <div *ngIf="title.touched" class="mt-3">
        <div class="alert alert-danger" *ngIf="title.invalid">Invalid</div> </div>
      
    </div>
    <div class="form-group">
        <label>Quantite</label>
        <input type="number" name="quantity" class="form-control" [(ngModel)]="product.quantity" #q="ngModel" />
        <div *ngIf="q.value>=0" class="mt-3">
            <div class="alert alert-success">
                valeur valid

            </div>

        </div>
        <div *ngIf="q.value<0" >
            <div class="alert alert-danger">
                valeur invalid

            </div>

        </div>
    </div>
    <div class="form-group">
        <label>Like</label>
        <input type="number" class="form-control" required name="like" #like="ngModel" [(ngModel)]="product.like" />
        <div *ngIf="like.touched" class="mt-3">
            <div class="alert alert-danger" *ngIf="like.invalid">
                <div *ngIf="like.errors.required">Required</div>
             </div>
        </div>

        
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" name="price" class="form-control" [(ngModel)]="product.price" #p="ngModel" />
        <div *ngIf="p.value>=0" class="mt-3">
            <div class="alert alert-success">
                valeur valid

            </div>

        </div>
        <div *ngIf="p.value<0" >
            <div class="alert alert-danger">
                valeur invalid

            </div>

        </div>
    </div>
    <button [disabled]="f.invalid" class="btn btn-success">Edit product</button>
</form>